<!-- Footer Section Start -->
<div *ngIf="_infoService.cargada">
    <footer class="footer--section pt--100 pb--100 text-center">
        <div class="container">
            <!-- Footer Social Start -->
            <div class="footer--social">
                <ul class="nav" data-scroll-reveal="group">
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                </ul>
            </div>
            <!-- Footer Social End -->

            <!-- Copyright Text Start -->
            <p class="copyright--text fs--16 ff--primary">Copyright &copy; {{ year }} <a href="#">{{ _infoService.info.name }}</a>. Todos los derechos reservados.</p>
            <!-- Copyright Text End -->
        </div>
    </footer>
</div>
<!-- Footer Section End -->